<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Condition</title>
</head>
<body>
	<h1>This is elvis operator example</h1>
	<!--/* This is elvis operator example */-->
	<h1 th:style="${isActive} ? 'color:red' : 'color:green'" th:text="${isActive} ? Active : Inactive"></h1>
	
	<!--/* This is if-unless example */-->
	<h1 th:if="${gender=='M'}">Male</h1>
	<h1 th:if="${gender=='F'}">Female</h1>
	<h1 th:unless="${gender=='M' || gender=='F'}">Other</h1>
	
	
	<!--/* This is switch case example */-->
	<div th:switch="${#lists.size(myList)}">
		<h1 th:case="0">List contains Zero element</h1>
		<h1 th:case="1">List contains one element</h1>
		<h1 th:case="2">List contains two elements</h1>
		<h1 th:case="*">List contains more then two elements</h1>
	</div>
	
	<div th:switch="${num}">
		<h1 th:case="0">number is 0</h1>
		<h1 th:case="1">number is 1</h1>
		<h1 th:case="2">number is 2</h1>
		<h1 th:case="*">Cant match</h1>
	</div>
	
	
</body>
</html>