<!doctype html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	
	<!-- comments in html and thymeleaf  -->
	<!-- normal html comment -->
	<!-- -->
	
	<!-- thymeleaf comment ==> this comment will not be visible on the browser devloper tool -->
	<!--/*   */-->
	
	
	<h1>Hello</h1>
	<h1 th:text="${name}"></h1>
	
	<ul>
		<li th:each="n ,status : ${list}">
			<!--/* <span th:text="${status}+' : '+${n}"></span>  */-->
			<!--/* <span th:text="${status.index}+' : '+${n}"></span>  */-->
			<!--/* <span th:text="${status.count}+' : '+${n}"></span> */-->
			<!--/* <span th:text="${status.count}+' : '+${n}"></span> */-->
			<!--/* <span th:text="${status.size}+' : '+${n}"></span> */-->
			<!--/* <span th:text="${status.current}"></span> */-->
			<!--/* <span th:text="${status.odd}"></span> */-->
			<!--/* <span th:text="${status.even}"></span> */-->
			<span th:if="${status.first}" th:text="'this is first = '+ ${n}"></span>
			
			<span th:if="${status.last}" th:text="'this is last = '+ ${n}"></span>
			
		</li>
	</ul>
			<span th:text="${list.size()}"></span>
		<!--  status ==>
			status.index ==> 
			status.count ==> 
			status.size ==> 
			status.odd ==> 
			status.even ==> 
			status.first ==> 
			status.last ==> 
			status.current ==> 
	
	 -->
</body>
</html>