<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	
	<section>
		<h1>Welcome to Service page </h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus reprehenderit laudantium beatae voluptatibus est voluptates doloribus non tenetur obcaecati placeat nesciunt minus suscipit facere voluptate vitae rerum expedita consequuntur cupiditate atque dolorum. Reiciendis voluptatum illo nulla ex quo eveniet ad id inventore odit perspiciatis vero excepturi temporibus totam molestiae cum?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus reprehenderit laudantium beatae voluptatibus est voluptates doloribus non tenetur obcaecati placeat nesciunt minus suscipit facere voluptate vitae rerum expedita consequuntur cupiditate atque dolorum. Reiciendis voluptatum illo nulla ex quo eveniet ad id inventore odit perspiciatis vero excepturi temporibus totam molestiae cum?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus reprehenderit laudantium beatae voluptatibus est voluptates doloribus non tenetur obcaecati placeat nesciunt minus suscipit facere voluptate vitae rerum expedita consequuntur cupiditate atque dolorum. Reiciendis voluptatum illo nulla ex quo eveniet ad id inventore odit perspiciatis vero excepturi temporibus totam molestiae cum?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus reprehenderit laudantium beatae voluptatibus est voluptates doloribus non tenetur obcaecati placeat nesciunt minus suscipit facere voluptate vitae rerum expedita consequuntur cupiditate atque dolorum. Reiciendis voluptatum illo nulla ex quo eveniet ad id inventore odit perspiciatis vero excepturi temporibus totam molestiae cum?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus reprehenderit laudantium beatae voluptatibus est voluptates doloribus non tenetur obcaecati placeat nesciunt minus suscipit facere voluptate vitae rerum expedita consequuntur cupiditate atque dolorum. Reiciendis voluptatum illo nulla ex quo eveniet ad id inventore odit perspiciatis vero excepturi temporibus totam molestiae cum?</p>
	</section>
</body>
</html>